<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%=raw @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
	<strong>Web Url:</strong>
	<%=link_to @article.web_url, @article.web_url%>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
